rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /academic_portal/state_node {
      allow read, write: if true;
    }
  }
}
